<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="stylesheets/mameon.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/" class="logo"><img src="../images/mameon_logo.png"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="stories">Customer Stories</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a class="active" href="contact">Contact Us</a></li>
            </ul>
        </nav>
    </head>
    <body>

    </body>
</html>