<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>
        <link rel="stylesheet" href="stylesheets/home.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/" class="logo"><img src="../images/mameon_logo.png"></a>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="stories">Customer Stories</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <img align="right" src="../images/videos_image_home.png" width="45%"; height="45%">
        <div class="top-left">
            <h1 style="padding-top: 1%">
                Beautiful Video Ads
            </h1>
            <h1>
                & Explainer Videos
            </h1>
            <h1>
                For Just $499!
            </h1>
            <p>(Or $199 if you sign up before Labor Day!!)</p>
        </div>
        <br>
        <h3>Just four simple steps!</h3>
        <img src="../images/process_image.png" width="80%"; height="80%" class="img-center">
        <h2 style="text-align: center; margin-top: 2%">Get your startup advertisement today!</h3>
        <button class="btn" onclick=window.location="https://ddlq56b7bzi.typeform.com/to/sw1EkYzx">Get Started!</button>
    </body>
</html>