<!DOCTYPE html>
<html>
    <head>
        <title>Customer Stories</title>
        <link rel="stylesheet" href="stylesheets/stories.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <style>
            
        </style>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/" class="logo"><img src="../images/mameon_logo.png"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="services">Services</a></li>
                <li><a class="active" href="stories">Customer Stories</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <h1>Customer Stories</h1>
        <h3>Small Businesses Want to tell their Stories with Video…</h3>
        <div>
            <div id="leftbox">
                <p> But, before now, they couldn’t! The reasons were simple:</p>
                <p> - &nbsp&nbsp&nbspThe creation process was WAY too slow and expensive.</p>
                <p> - &nbsp&nbsp&nbspThe distribution process was WAY too complex.</p>
            </div>
            <div id="rightbox" >
                <p>Mameon changed all that! Now every small business has professional </p>
                <p>video storytelling capabilities at their fingertips!</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h3 style="text-align: center;">Lack of capital and knowledge no longer locks anyone out!</h3>
        <h2>But don’t take our word for it! Listen to what our customers are saying about us!</h2>
        <div class="stories" id="mercor">
            <video class="frame" controls>
                <source src="/videos/Mercor_2nd_Cut.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
            <p class="quote">
                <q>I loved the scripting process... the videos and explanation of each section were clear, 
                concise, and overall excellent!</q>
                <br>
                <br>
                Brendan Foody - <b>Mercor.io</b>
            </p>
        </div>
        <div class="stories" id="at_home">
            <video class="frame" controls>
                <source src="/videos/At_Home_Tutoring.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
            <p class="quote">
                <q>Using mameon was super quick and efficient! There is a library of GREAT explainer vids that totally demystified
                     the script writing process! It took literally about 15 minutes to write a script! Then they took the script,
                      polished it a little bit, and turned it into a finished ad in a few days. And the finished product looks awesome! 
                      I love the ad - and the whole process- so quick and easy and inexpensive. I sincerely believe Mameon’s service will 
                      transform our small business because we can quickly and inexpensively use video marketing. Thank you, mameon!</q>
                <br>
                <br>
                Sara Downey - <b>At Home Tutoring Service</b>
            </p>
        </div>
    </body>
</html>